@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');

body{
  width:100%;
  min-height: 100vh;
  font-family: Montserrat;
  font-style: normal;
  margin:0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Ubuntu Mono;
}
main{
  margin:0;
  width:90%;
  margin-top:40px;
  margin-left: 5%;
}
h1{
  margin:0;
  padding: 0;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
h2{
font-family: Ubuntu Mono;
font-style: normal;
font-weight: normal;
font-size: 12px;
}
p, span{
  font-size: 12px;
}
.material-icons{
  font-size: 12px;
}
.btn-icon{
  display: flex;
  align-items: center;
  column-gap:10px;
}
.notes{
  color: #828282;
}
.button-group{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 22.5px auto;
}
.button-box{
  width:236px;
}
.button-box-L{
  width:332px;
}

.btn{
border-radius: 6px;
font-size: 14px;
font-weight: 500;
}
.btn-default{
background: #E0E0E0;
}
.btn-default,.btn-primary, .btn-secondary, .btn-danger{
  box-shadow: 0px 2px 3px rgba(51, 51, 51, 0.2);
}
.btn-primary, .btn-secondary, .btn-danger{
  color: white;
}
.no-shadow{
  box-shadow: none;
}
.btn-default:hover, .btn-default:focus, .default-hover{
background: #AEAEAE;  
}
.btn-outline-primary:hover, .btn-outline-primary:focus, .primary-focus{
background: rgba(41, 98, 255, 0.1);
color: #3D5AFE;
}
.btn-link{
  text-decoration: none;
}
.btn-link:hover, .btn-link:focus, .link-hover{
  background: rgba(41, 98, 255, 0.1);
}
.btn-primary:hover,.btn-primary:focus, .primary-hover{
 background: #0039CB;  
}
.btn-secondary:hover,.btn-secondary:focus, .secondary-hover{
background: #1C313A; 
}
.btn-danger:hover,.btn-danger:focus, .danger-hover{
background: #9A0007;
}

footer{
padding-bottom: 24px;  
width: 100%;
text-align: center;
}

em{
  font-style: normal;
  font-weight: bold;
}


