@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins:wght@500&family=Ubuntu+Mono&display=swap');


body{
  width:100%;
  min-height: 100vh;
  font-family: Montserrat;
  font-style: normal;
  margin:0;
  padding: 0;
  font-family: Ubuntu Mono;
  background: white;
}
nav{
  background: #FAFBFD;
  background: #eeeeee;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 237px;
  width: 237px;
  height: 100%;
  text-align: left;
}
li > .nav-link{
  color: #9E9E9E;
}
li > .link-active, li > .nav-link:hover{
  color: #090F31;
  font-weight: bold;
  cursor:pointer;
}

main{
  margin:0;
  width:90%;
  position: aboslute;
  padding-left: 317px;
  margin-bottom: 100px;
}
section > h1{
  margin-bottom:79px;
  padding: 0;
  padding-top:40px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

header > h2{
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 13px;
padding-top:43px;
padding-left:43px;
margin-bottom:79px;
}
h2 em{
  color: #F7542E;
  font-style: normal;
}
p, span{
  font-size: 12px;
}

footer{
padding-left: 317px;
padding-bottom: 24px;  
width: 100%;
text-align: center;
}

footer em{
  font-style: normal;
  font-weight: bold;
}





